.btn3{
    text-align: center;
}

body {

    text-align: center;
  }
  
  #gallery {
    margin: auto;
    padding-top: 40px;
    width: 500px;
  }
  
  #gallery .main img {
    border: 4px solid #fff;
    box-shadow: 0px 0px 14px #000;
    max-height: 400px;
    max-width: 400px;
    width: 80%;
  }
  
  #gallery .main p {
    color: #bbb;
    font-size: 20px;
    font-weight: bold;
  }
  
  #gallery .thumb img {
    border:4px solid #fff;
    border-radius: 400px;
    box-shadow: 0px 0px 10px #000;
    height: 60px;
    margin: 10px;
    width: 60px;
  }
  .pakuri{
    color: #99dbfc;
    padding: 0 25px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    
}

 
 input {
  display: none;
 }
 
 input:checked + label svg {
  fill: hsl(0deg 100% 50%);
  stroke: hsl(0deg 100% 50%);
  animation: heartButton 1s;
 }
 
 @keyframes heartButton {
  0% {
   transform: scale(1);
  }
 
  25% {
   transform: scale(1.3);
  }
 
  50% {
   transform: scale(1);
  }
 
  75% {
   transform: scale(1.3);
  }
 
  100% {
   transform: scale(1);
  }
 }
 
 input + label .action {
  position: relative;
  overflow: hidden;
  display: grid;
 }
 
 input + label .action span {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  transition: all .5s;
 }
 
 input + label .action span.option-1 {
  transform: translate(0px,0%);
  opacity: 1;
 }
 
 input:checked + label .action span.option-1 {
  transform: translate(0px,-100%);
  opacity: 0;
 }
 
 input + label .action span.option-2 {
  transform: translate(0px,100%);
  opacity: 0;
 }
 
 input:checked + label .action span.option-2 {
  transform: translate(0px,0%);
  opacity: 1;
 }
 a.btn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
  width: 90%;
}

a.btn-border:hover {
  color: #fff;
  background: #000;
}
#subimage{
  max-width: 1;
}